################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Trabalhos/BielWorld/.vs/BielWorld/v15/Server/sqlite3
